{% extends 'mailing/base.html' %}

{% block title %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="width: 95%;">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Delete settings</h1>
    </div>
    {% endblock %}


    {% block content %}

    <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="col-md-6">
                <form method="post" action="{% url 'mailing:mailing_settings_delete' object.pk %}">
                    {% csrf_token %}
                    <div class="text-center my-3">
                        <p>Are you sure you want to delete mailing settings #{{ object.pk }}?</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-success">Delete</button>
                        <div class="mx-2"></div>
                        <a href="{% url 'mailing:mailing_settings_list' %}"
                           class="btn btn-outline-danger ml-2">Cancel</a>
                    </div>
                </form>

            </div>
        </div>
    </div>


    {% endblock %}