{% extends 'mailing/base.html' %}

{% block title %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="width: 95%;">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
            {% if request.user.is_staff %}
            Status mailing №{{ object.pk }}
            {% elif object %}
            Edit settings №{{ object.pk }}
            {% else %}
            Create settings
            {% endif %}
        </h1>
    </div>
    {% endblock %}


    {% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" style="text-align: left;">
                            {% csrf_token %}

                            {% if user.is_staff %}
                            {{ form.status.label_tag }} {{ form.status }}
                            {% else %}

                            {{ form.non_field_errors }}
                            {{ form.time.label_tag }} {{ form.time }}
                            {{ form.period.label_tag }} {{ form.period }}
                            {{ form.status.label_tag }} {{ form.status }}
                            {{ form.message.label_tag }} {{ form.message }}

                            <div class="form-group">
                                <label>Clients:</label>

                                {% for client in form.client.field.queryset %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="client_{{ client.pk }}"
                                           name="{{ form.client.name }}" value="{{ client.pk }}"
                                           {% if client.pk in form.client.value %}checked{% endif %}>
                                    <label class="form-check-label" for="client_{{ client.pk }}">{{ client }}</label>
                                </div>
                                {% endfor %}
                            </div>

                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    const toggleAllClients = document.getElementById('toggleAllClients');
                                    const clientCheckboxes = document.querySelectorAll('[id^="client_"]');

                                    toggleAllClients.addEventListener('change', function () {
                                        const isChecked = toggleAllClients.checked;

                                        clientCheckboxes.forEach(function (checkbox) {
                                            checkbox.checked = isChecked;
                                        });
                                    });
                                });
                            </script>

                            {% for field in form %}
                            {{ field.errors }}
                            {% endfor %}
                            {% endif %}
                            <button type="submit" class="btn btn-outline-success">
                                {% if object %}
                                Save
                                {% else %}
                                Create
                                {% endif%}
                            </button>

                            {% if user.is_staff %}
                            <a href="{% url 'mailing:users_mailing_settings_list' %}"
                               class="btn btn-outline-danger">Cancel</a>

                            {% else %}
                            <a href="{% url 'mailing:mailing_settings_list' %}"
                               class="btn btn-outline-danger">Cancel</a>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

